.index_items a:link {
  font-size: 48px;

}
.index_items a:visited {
  font-size: 48px;
  color: white;
  padding-bottom: 40px;
  background-color: lightblue;
}

.index_items {
  background-color: darkblue;
  text-align: center;
  border-radius: 5px;
  height: 75vh;
  border: 20px solid lightblue;
}
.index_link {
  padding-bottom: 15vh;
}
.centered {
  text-align: center;
}

.history {
  padding-top: 12vh;
  background-color: grey;
  color: black;
  padding-left: 10vh;
  font-size: 20px;
  height: 90vh;
  border: 2px solid black;
  border-radius: 30px
}
.transaction {
  background-color: lightblue;
  border: 2px solid blue;
  height: 30vh;
  text-align: center;
  border-radius: 30px;
}

.blank {
  height: 5vh;
}

.profile_link a:visited {
  font-size: 30px;
  color: black;
  padding-top: 10px
}

.profile_link a:link {
  font-size: 30px;
  color: black;
  padding-top: 10px
}

.profile_link {
  background-color: lightblue;
  border: 2px solid blue;
  border-radius: 30px;
  height: 20vh;
  text-align: center;
}
